@import url("https://use.typekit.net/fwv7ydk.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #F0F1E8;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
header .heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .logo {
  font-size: 1.25rem;
  padding: 7.5px 0 7.5px 10px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  header .logo {
    flex: 1;
  }
}
main #landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 670px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), transparent), url("../imgs/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  main #landing {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  main #landing {
    height: 940px;
  }
}
main #landing article {
  width: 85%;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  main #landing article {
    text-align: left;
    width: 75%;
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  main #landing article {
    width: 40%;
  }
}
main #landing article h1 {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  main #landing article h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  main #landing article h1 {
    font-size: 3rem;
  }
}
main #landing article p {
  padding: 1rem 0;
  line-height: 1.6rem;
}
@media only screen and (min-width: 768px) {
  main #landing article p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  main #landing article p {
    font-size: 1.5rem;
  }
}
main #landing article #cta {
  display: block;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 0;
  background-color: #2CA555;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  border-radius: 15px;
  box-shadow: 7px 7px #135529;
}
@media only screen and (min-width: 768px) {
  main #landing article #cta {
    margin: 1rem 0;
    width: 60%;
    text-align: center;
  }
}
main #landing #scroll-hook {
  position: absolute;
  top: 630px;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
@media only screen and (min-width: 1200px) {
  main #landing #scroll-hook {
    top: 880px;
    font-size: 3rem;
  }
}
