//Colors variables
@brand-color: #135529;
@contrast-color: #FFFBCE;
@primary-neutral: #F0F1E8;
@primary-action: #2CA555;

//Screen size variables
@tablet-size: 768px;
@laptop-size: 992px;
@large-screen-size: 1200px;

//Imported fonts
@import url("https://use.typekit.net/fwv7ydk.css");

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: @primary-neutral;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.1em;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    .heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        padding: 7.5px 0 7.5px 10px;
        font-family: "futura-pt", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.25rem;
        color: #fff;

        //Tablet styling
        @media only screen and (min-width: @tablet-size) {
            flex: 1;
        }
    }
}

main {

    #landing-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 844px;
        background-image: linear-gradient(rgba(0,0,0,0.75) 40%, transparent), url("../imgs/bg6.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        //Tablet sizing
        @media only screen and (min-width: @tablet-size) {
            justify-content: flex-start;
            height: 820px;
            background-image: linear-gradient(to right bottom, rgba(0,0,0,0.75) 40%, transparent), url("../imgs/bg6.JPG");
        }

        //Large Screen sizing
        @media only screen and (min-width: @large-screen-size) {
            height: 912px;
        }

        article {
            width: 85%;
            color: #fff;

            //Tablet sizing
            @media only screen and (min-width: @tablet-size) {
                text-align: left;
                width: 75%;
                padding-left: 1rem;
            }

            //Large screen sizing
            @media only screen and (min-width: @large-screen-size) {
                width: 50%;
                padding-left: 2rem;
            }

            h1 {
                font-family: "futura-pt", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 2rem;

                //Tablet sizing
                @media only screen and (min-width: @tablet-size) {
                    font-size: 2.5rem;
                }

                //Large screen sizing
                @media only screen and (min-width: @large-screen-size) {
                    font-size: 3rem;
                }
            }

            p {
                padding: 1rem 0;
                line-height: 1.6rem;

                //Tablet sizing
                @media only screen and (min-width: @tablet-size) {
                    font-size: 1.25rem;
                    line-height: 2rem;
                }

                //Large Screen sizing
                @media only screen and (min-width: @large-screen-size) {
                    font-size: 1.5rem;
                }
            }

            #cta {
                display: block;
                width: 80%;
                margin: 3rem auto;
                padding: 1rem 0;
                background-color: @primary-action;
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 700;
                color: #fff;
                border-radius: 15px;

                //Tablet sizing
                @media only screen and (min-width: @tablet-size) {
                    margin: 3rem 0;
                    width: 60%;
                    text-align: center;
                }
            }
        }

        #scroll-hook {
            position: absolute;
            top: 800px;
            display: block;
            width: 100%;
            text-decoration: none;
            font-size: 2rem;
            color: @primary-action;

            //Tablet styling
            @media only screen and (min-width: @tablet-size) {
                top: 780px;
            }

            //Large screen sizing
            @media only screen and (min-width: @large-screen-size) {
                top: 850px;
                font-size: 3rem;
            }
        }
    }

    nav {
        width: 100%;

        .services-swiper {
            width: 100%;
            padding: 3rem 0;
        }

        .services-swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            //Tablet styling
            @media only screen and (min-width: @tablet-size) {
                width: 400px;
                height: 250px;
            }

            article {
                width: 100%;
                font-family: "futura-pt", sans-serif;
                font-weight: 700;
                font-style: normal;

                h3 {
                    text-align: center;
                    color: @primary-neutral;

                    //Tablet styling
                    @media only screen and (min-width: @tablet-size) {
                        font-size: 1.5rem;
                    }

                    //Large screen styling
                    @media only screen and (min-width: @large-screen-size) {
                        font-size: 1.75rem;
                    }
                }

                a {
                    display: block;
                    margin: 1.25rem auto;
                    padding: 0.5rem 0;
                    width: 50%;
                    text-decoration: none;
                    text-align: center;
                    background-color: @primary-action;
                    color: @primary-neutral;

                    //Tablet styling
                    @media only screen and (min-width: @tablet-size) {
                        margin: 2rem auto;
                        font-size: 1.25rem;
                    }
                }
            }
        }

        //Background images for the different slides
        #concrete-services {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg1.jpg");
        }

        #aggregate-services {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg2.jpg");
        }

        #recycled-services {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg3.jpg");
        }

        #featured-projects {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg5.jpg");
        }

        #career-services {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg4.jpg");
        }

        //Next/Prev navigation styling for tablet and large screen
        #services-next, #services-prev {
            display: none !important;

            @media only screen and (min-width: @tablet-size) {
                display: block !important;
                color: @brand-color !important;
            }
        }

        //Pagination styling
        #services-pagination {
            color: @brand-color !important;
        }
    }
}